//
//
//          Här skriver vi den style som skriver över Bulmas standardkod,
//          eller, kompletterar den. Använd inga #id, försök använda så få
//          elementselektorer som möjligt, och död åt den som använder *.
//
//
body {
  overflow: hidden;
}
.content p {
  margin-left: 30%;
  margin-right: 15%;
  text-align: justify;
  -webkit-hyphens: auto;
      -ms-hyphens: auto;
  hyphens: auto;
  hanging-punctuation: first;
}
.content .pull {
  width: calc(30% - 48px);
  margin: 24px;
  float: left;
  font-style: italic;
  font-weight: bold;
  text-align: left;
  font-size: 2rem;
}
.content p:first-child {
  padding-top: 2em;
}
q {
quotes: "\201C" "\201D";
  }

.tabs a {
  color: white;
}

.slideout-menu {
  left: auto;
}
.btn-hamburger {
  left: auto;
   right: 12px;
 }
.box {
  height: 1500px; }

.menu-section {
  margin-top:1em;
  padding-right: 24px;
  font-size: 1.5rem;
}
.search-flap {
border-radius: 0px 0px 30px 30px;
width: 70%;
margin-left: 15%;
float: left;
}
.flap-holder:hover {
transform: scale(1.1);
transition: all .2s ease-in-out;
}

.fixed-header {
position: fixed;
width: 100%;
//height: 50px;
backface-visibility: hidden;
z-index: 2;
//background-color: red;
margin: 0;
padding: 0;
left: 0px;
right: 0px;
}

.btn-hamburger {
position: static;
height: 40px;
width: 40px;
}


input[type=range]::-webkit-slider-runnable-track {
background: linear-gradient(45deg, red, blue);
background-position: right top;
}
input[type=range]::-moz-range-track {
background: linear-gradient(to left, red 30%, transparent 30%);
background-position: right top;
}
input[type=range]::-ms-track {
background: linear-gradient(to left, red 30%, transparent 30%);
background-position: right top;
background-repeat: no-repeat;  /* no repeat means background appears a little on the left due to width issue and hence the fix */
width: 100%;  /* to fix width issue in Edge */
color: transparent;  /* to avoid the intermediate stripe lines in < IE11 */
border: none;  /* just do away with the track's border */
}
input[type=range]::-ms-fill-lower {
background: transparent; /* IE11 has default fill and that needs to be removed */
}

.wide {
  width: 70%;
}

#menu {
  padding-left: 24px;
}
